html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #181617;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.img-wrap {
  display: flex;

  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.v-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

* {
  /*outline: 1px solid #066;*/
}

.container {
  margin: 0 auto;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 320px;
}

/* Стили модулей общие */

.module--light {
  background-color: #1F1C1D;
}

.module__title {
  margin: 0;
  font-family: "Yeseva One", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: initial;
  text-align: center;
}

.module__subtl {
  margin: 0;
  font-weight: 300;
  text-align: center;
  line-height: 140%;
  color: #A07B50;
}

.module__link-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  line-height: 100%;
}

.btn--link {
  padding: 15px 18px 16px;
  font-weight: 500;
  font-size: 12px;
  border: 0.5px solid #A07B50;
}

/* Логотип */

.logo {
  display: flex;
  justify-content: center;
}

/* Промо-блок */

.promo .container {
  padding: 0;
}

.promo__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__subheader {
  margin: 0;
  color: #A07B50;
  line-height: 150%;
}

.promo__title {
  margin-bottom: 30px;
  font-size: 36px;
}

.promo__slogan {
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
  color: #A07B50;
  margin-bottom: 40px;
}

.promo .social__list {
  display: none;
}

.promo__link-wrap {
  margin-bottom: 20px;
}

.promo__img {
  display: flex;
  justify-content: flex-end;
}

.promo__img-wrap {
  width: 275px;
  height: 276px;
  outline: 1px solid darkgray;
}

/* Питомцы */
.pets {
  padding-top: 60px;
}

.pets .container {
  /*padding: 0;*/
}

.pets__title {
  margin-bottom: 35px;
}

.pets__descr {
  margin-bottom: 40px;
}

.tabs__list {
  max-width: 241px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.tab__link {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.2;
  cursor: pointer;
}

.active .tab__link {
  opacity: 1;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pet__img-wrap {
  width: 234px;
  height: 248px;
  outline: 1px solid darkgray;
}

.pets__link-wrap {
  margin-top: 45px;
}

/* Особенности породы */
.breed {
  padding-top: 60px;
}

/* б уходе за мейн-куном */
.articles {}

/* Вопросы и ответы */
.questions {}

/* Отзывы */
.reviews {}
